:root {
  $cores: (
    cor-medium-slate-blue: #6C63FF,
    cor-bright-pink: #FF6584,
    cor-platinum: #E6E6E6,
    cor-white-smoke: #F2F2F2,
    cor-ultra-violet: #5C5983,
    cor-paragrafo: rgb(97, 97, 97),
  );

  $titulo: (
    fonte-titulo: "SimsLLHP",
    size-titulo: max(20px, 2.8vw),
    size-titulo-secundario: null,
  );

  $variaveis: map-merge($cores, $titulo);

  @each $variavel, $valor in $variaveis {
    --#{$variavel}: #{$valor};
  }
}
