@import "../../../sass/mixins.module";

.textoAnuncioMobileContainer {
  padding: 30px;
  width: 570px;
  border-radius: 10px;
  display: none;

  img {
    width: 50%;
    max-width: 240px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.363));
  }
  .descricaoJogoAnuncioMobile {
    @include descricao-anuncio-mobile;
  }
}

@media (max-width: 768px) {
  .textoAnuncioMobileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    padding: 0;
    width: 100%;
  }
}
