.bannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  cursor: pointer;

  .imgBanner {
    margin-right: 90px;
    width: 30%;
    vertical-align: middle;
  }

  .textoBanner {
    display: flex;
    align-items: baseline;
  }
}

@media (max-width: 768px) {
  .bannerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 0 auto;
    padding: 0;

    .imgBanner {
      margin-right: 40px;
      width: 40%;
    }
  }
}

@media (max-width: 425px) {
  .bannerContainer {
    flex-direction: column;
    margin-top: 45px;

    .imgBanner {
      width: 100vw;
      margin: 0;
    }
  }
}

@media (max-width: 320px) {
  .bannerContainer {
    margin: 0;
    height: 100vw;
  }
}