@import "../sass/_mixins.module.scss";
@import "../sass/variables.module";

.cardEbookContainer .card.no-promo-price {
  width: 20vw;
}

.semPromocao {
  height: 100%; /* ou a altura desejada */
}

.cardEbookContainer {
  .card {
    display: flex;
    word-wrap: break-word;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 18vw;
    height: 100%;
    padding-bottom: 27px;
    cursor: pointer;
    border: 1px solid rgba(122, 122, 122, 0.342);
    border-radius: 8px;
    position: relative;
    top: 0;
    background-color: #fcfcfc;
    transition: all 0.4s;
  }

  .card:hover {
    border: 1px solid rgb(170, 170, 170);
    position: relative;
    top: -5px;
  }

  .nomeDoEbook {
    font-family: "Nunito Sans", sans-serif;
    font-size: max(14px, 1.54vw);
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-top: 10px;
    letter-spacing: 0.3px;
  }

  .categoriaDoEbook {
    color: var(--cor-ultra-violet);
    font-size: 14px;
    margin-top: -5px;
  }

  .nomeDoEbook,
  .avaliacaoDoEbook,
  .descricaoDoEbook {
    margin-top: 2px;
  }

  .infoEbook {
    padding: 15px;
  }

  .infoEbook,
  .nomeDoEbook,
  .descricaoDoEbook {
    display: flex;
    flex-direction: column;
  }

  .descricaoDoEbook {
    font-size: 0.9rem;
    color: var(--cor-paragrafo);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 10px 0;
  }

  .precoPromocaoDoEbook,
  .precoOriginalDoEbook {
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    flex-direction: column;
  }

  .precoPromocaoDoEbook {
    font-size: max(14px, 1.7vw);
    color: var(--cor-bright-pink);
    font-weight: bold;
    width: 100%;
    padding-top: 0.3rem;
  }

  .precoOriginalDoEbook {
    color: rgba(201, 185, 185, 0.671);
    text-decoration: line-through;
    font-size: max(12px, 1vw);
    margin-top: -9px;
  }

  .imgCard {
    // Imagens desiguais
    width: 80%;
    margin-top: -18px;
    border-radius: 5px;
    @include sombra;
  }

  .compraOuFav {
    position: absolute;
    top: 89%;
    left: 50%;
    display: flex;
    justify-content: center;
    font-size: max(12px, 1.6rem);

    ion-icon {
      font-size: clamp(18px, 2.5vw, 30px);
      margin: 1vw;
      cursor: pointer;
      color: var(--cor-ultra-violet);
    }
  }
}

@media (max-width: 425px) {
  .cardEbookContainer {
    .card {
      width: 41vw;
    }
  }
}

@media (max-width: 768px) {
  .cardEbookContainer {
    .nomeDoEbook {
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .descricaoDoEbook {
      width: 0;
      height: 0;
    }
    .precoPromocaoDoEbook {
      width: 100%;
    }
    .compraOuFav {
      margin-top: -5px;
    }
  }
}
