@import "../../sass/mixins.module";

.carrossel {
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.tituloDaSecao {
  @include titulo-secao;
}

.carrossel::-webkit-scrollbar {
  display: none;
}
.cardsContainer {
  display: flex;
  flex: none;
}
.card {
  @include card-resp(1.8%);
  display: flex;
  position: relative;
  margin-top: 10px;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: right;

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: clamp(16px, 1vw, 32px);
    margin-bottom: 1vw;
  }
  .btnVerTodos {
    border: 2px solid rgba(122, 121, 121, 0.685);
    padding: 12px;
    border-radius: 12px;
  }
  .btnVerTodos:hover {
    border: 2px solid rgba(49, 49, 49, 0.685);
    transition: all 0.4s;
  }
  ion-icon {
    border: 2px solid rgba(122, 121, 121, 0.685);
    border-radius: 100%;
    padding: 5px;
    margin-right: 12px;
    color: rgb(0, 0, 0);
    font-size: clamp(20px, 3vw, 32px);
    transition: all 0.4s;
  }
  ion-icon:hover {
    border: 2px solid rgba(49, 49, 49, 0.685);
  }
  .btns ion-icon:hover {
    color: rgb(255, 0, 0);
  }
}

@media (max-width: 425px) {
  .tituloDaSecao {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .elementosDoCarrossel {
    display: flex;
    flex-direction: column-reverse;

    .btns {
      margin-top: 20px;
      .containerBtnsMovimento {
        display: none;
      }
    }
    .card {
      margin-top: 9vw;
    }
  }
}

@media (max-width: 320px) {
  .carrossel {
    .elementosDoCarrossel {
      .btns {
        button {
          margin-bottom: 0;
        }
      }
    }
  }
}
