@import "../sass/variables.module";
.marquee {
  display: flex;
  justify-content: flex-start;
  background-color: var(--cor-white-smoke);
  padding: 30px;
  overflow: hidden;

  h1 {
    text-transform: uppercase;
    font-family: "Nunito Sans", sans-serif;
    color: var(--cor-ultra-violet);
    font-weight: bold;
    mix-blend-mode: hard-light;
    font-size: clamp(1rem, 0.4324rem + 2.4218vw, 2.5rem);
    white-space: nowrap;
    padding: 0 6rem;
    animation: move-rt1 6000ms linear infinite;
  }
  span {
    font-family: "Nunito Sans", sans-serif;
    color: var(--cor-medium-slate-blue);
    animation: colors 4s infinite;
  }
  @keyframes move-rt1 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translatex(-100%);
    }
  }
  @keyframes colors {
    0% {
      color: var(--cor-bright-pink);
    }
    50% {
      color: var(--cor-medium-slate-blue);
    }
    100% {
      color: var(--cor-ultra-violet);
    }
  }
}
