.sidebarContainer {
  position: absolute;
  top: -38px;
  left: -31px;
  width: 80vw;
  background-color: rgb(192, 189, 189);
  padding: 60px 20px;

  img {
    width: 60px;
    padding-bottom: 3vw;
  }
  span {
    margin-left: -20px;
  }
  li {
    padding: 12px;
  }
}
