@import "../../../../components/sass/mixins.module";

.sidebarContainer {
  position: absolute;
  top: -38px;
  left: -31px;
  width: 80vw;
  background-color: var(--cor-platinum);
  padding: 60px 20px;

  img {
    width: 60px;
    margin-left: 3vw;
  }
  span {
    margin-left: -20px;
  }
  .atalhos {
    display: flex;
    align-items: center;
    position: relative;
    top: 15px;
    li {
      padding: 12px;
    }
  }
}
