@import ".././sass/mixins.module.scss";
@import "../sass/_variables.module.scss";

.promocoesCatalogo {
  background-color: var(--cor-white-smoke);
  padding-bottom: 30px;

  .carrosselPromocoes {
    margin-top: -90px;
  }
}

// Responsividade
@media (max-width: 768px) {
  .lancamentosCatalogo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    text-align: left;
  }
  .btns button {
    display: none;
  }
}

@media (max-width: 425px) {
  .card {
    flex: none;
  }
}

@media (max-width: 320px) {
  .lancamentosCatalogo {
    padding-top: 9vw;
  }
}
