@import "../../../components/sass/variables.module";

.btns {
  display: flex;

  ion-icon {
    font-size: 35px;
    color: var(--cor-cinza-claro);
  }
}

@media (max-width: 768px) {
  .btns {
    & {
      display: none;
    }
  }
}
