@import "../../../sass/mixins.module";

.textoAnuncioContainer { //centraliza isso com o banner
  display: block;
  padding: 30px 30px 20px 30px;
  width: 90%;
  max-width: 570px;
  height: 100%;
  @include background-glass(#ffffff57, #ffffff2e);
  border-radius: 10px;

  .descricaoJogoAnuncio {
    @include descricao-anuncio;
  }
}

@media (max-width: 768px) {
  .textoAnuncioContainer {
    padding: 0;
    @include background-glass(none, none);
    border-radius: 0;
    margin-top: 6vw;
  }
}
