@import "../sass/mixins.module";

.pacotesContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  left: 0;

  .tituloPacoteIntro {
    @include titulo-secao;
    margin-bottom: 3vw;

    @media (max-width: 320px) {
      margin-bottom: 1vw;
    }
  }

  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    float: none;

    .card {
      position: relative;
      top: 0;
      transition: 0.4s;
    }

    .card:hover {
      position: relative;
      top: -10px;
    }
  }
}
